* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 10px solid red;
}

#dot, #secondStick, #minute, #hour {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
}

span {
    display: block;

}

#first,  #seventh {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#second, #sixth {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40%;
}

#third, #fifth {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75%;
}

#fourth {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}

span {
    width: 100%;
}

#first span, #fourth span, #seventh {
    text-align: center;
}


#second span {
    text-align: left;
}

#fifth span, #sixth span {
    text-align: right;
}

#secondStick {
    border-radius: 0%;
    width: 1px;
    height: 240px;
    top: 26%;

}

#minute {
    border-radius: 0%;
    background: yellow;
    width: 5px;
    height: 240px;
    top: 26%;

}

#hour {
    background: red;
    border-radius: 0%;
    width: 6px;
    height: 150px;
    top: 35%;
}

.stickController {
    position: absolute;
    width: 500px;
    height: 500px;   
}
